@font-face {
  font-family: 'Quicksand';
  src: url('./assets/Quicksand-Regular.otf') format('woff2');
}
body {
  font-family: 'Quicksand', sans-serif; 
}

body::-webkit-scrollbar {
  width: 0.5rem;
  height: 10px;
  background-color: #ffffff00;
  
}

body::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 10px;
  height: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #aedefc;
}

